<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}! You're logged in!
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p>You are not logged in!</p>
        <a href="{% url 'login' %}">Login</a>
        <p>Don't have an account yet? <a href="{% url 'signup' %}">Sign up here!</a></p>
    {% endif %}
    {% endblock %}
</body>
</html>